.left {
text-align:left;
}

.center {
text-align:center;
}

.right {
text-align:right;
}

.bold {
font-weight:bold;
font-style:normal;
text-decoration:none;
}

.italic {
font-weight:normal;
font-style:italic;
text-decoration:none;
}

.underline {
font-weight:normal;
font-style:normal;
text-decoration:underline;
}

.bolditalic {
font-weight:bold;
font-style:italic;
text-decoration:none;
}

.boldunderline {
font-weight:normal;
font-style:normal;
text-decoration:underline;
}

.italicunderline {
font-weight:normal;
font-style:italic;
text-decoration:underline;
}

.bolditalicunderline {
font-weight:bold;
font-style:italic;
text-decoration:underline;
}

table.visible, th.visible, td.visible
{
border: 1px solid #FFF;
padding: 3px;
}

tr.visible:nth-child(odd)
{
background-color:#CCC;
}

tr.visible:nth-child(even)
{
background-color:#FFF;
}

tr.visible:hover
{
background-color:#AAA;
}

.mirror-horizontal {
-moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);
}

.mirror-vertical {
-moz-transform: scale(1, -1);
-webkit-transform: scale(1, -1);
-o-transform: scale(1, -1);
-ms-transform: scale(1, -1);
transform: scale(1, -1);
}

.mirror-total {
-moz-transform: scale(-1, -1);
-webkit-transform: scale(-1, -1);
-o-transform: scale(-1, -1);
-ms-transform: scale(-1, -1);
transform: scale(-1, -1);
}

.nobg {
background-color: rgba(0,0,0,0);
}

.nobg:hover {
box-shadow:0 8px 16px 0 rgba(0,0,0,0), 0 6px 20px 0 rgba(0,0,0,0);
}

.wrapcontainer {
padding: 0px;
margin: 0px;
}

.rounded-corners {
border-radius: 15px;
}

@keyframes fadein
{
from {opacity:0;}
to {opacity:1;}
}