html, body
{
text-align: center;
font-family: sans-serif;
color: #111;
background-color: #49443b;
background: url(../img/layout/bg.jpg) no-repeat center center fixed;
background-size: cover;
padding:0px;
margin:0px;
height:100%;
}

hr {
background: url(../img/layout/hr.png) top center;
width: 100%;
height: 6px;
border-style: none;
}

img {
max-width: 100%;
height: auto;
}

h1
{
margin-top: 10px;
font-size: 2em;
}

h2
{
font-size: 1.4em;
}

h3
{
font-size: 1.2em;
font-weight: bold;
text-decoration: none;
}

h4
{
float:right;
text-align: right;
margin: 5px;
font-size: 1.2em;
}

.logoarea {
width:100%;
min-height:75px;
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
}


#logo {
background-image: url(../img/logo.png);
}

#charselect {
background-image: url(../img/charselect.png);
}

main {
width: 100%;
margin: 0 auto;
min-height:100%;
}

.main {
width:100%;
max-width:100%;
height:100%;
border:0px;
border-spacing:0px;
border-collapse: collapse;
margin: 0 auto;
padding: 2em 1.5em;
}

div.content {
max-width: 400px;
border:5px;
border-style: solid;
border-color: #9d5b09;
border-image: url(../img/layout/border_root.png) 6 round;
border-spacing:0px;
border-collapse: collapse;
border-radius: 10px;
padding: 0px 15px;
background-image: url(../img/layout/menubox.png);
background-position: center top;
background-repeat: repeat-y;
background-size: auto;
background-color: rgba(255,255,255,0);
}

.foot:hover
{
color: #c4c1ac;
text-shadow: #c5bf97 0px 0px 16px;
transition: color 0.5s;
}

footer
{
color:#FFF;
width:100%;
vertical-align: middle;
margin-top:auto;
margin-bottom:auto;
}

.content
{
background: #c1bd7d;
}

#city-left, #city-right {
border-radius: 20px;
}

a
{
text-decoration: none;
color: #585326;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

a:hover
{
color: #3a382a;
text-shadow: #ae9628 0px 0px 16px;
transition: color 0.5s;
}

a:active
{
color: #b47700;
text-shadow: #ae9628 0px 0px 16px;
transition: color 0.5s;
}

a[href^="http"]:after {
content: "";
display: inline-block;
background: url("../img/extlink.png") no-repeat top right;
width: 15px;
height: 10px;
}

a[href^="mailto"]:after {
content: "";
display: inline-block;
background: url("../img/maillink.png") no-repeat top right;
width: 15px;
height: 10px;
}

li, ul {
padding-left: 10px;
padding-right: 10px;
}

input, textarea {
background-color: #d4b990;
border: 1px;
border-style: solid;
border-color: rgb(53,19,0);
border-left: 6px solid rgb(53,19,0);
width: 50%;
min-width: 150px;
}

input[type="button"]:hover, input[type="submit"]:hover {
border-color: #7a7446;
}

label {
background-color: #d4b990;
padding-left: 5px;
}

button {
border: none;
border-radius: 2px;
padding: 0.6em 1.2em;
background: #2c6dbe;
color: #fff;
font-family: 'Lato', Calibri, Arial, sans-serif;
font-size: 1em;
letter-spacing: 1px;
text-transform: uppercase;
cursor: pointer;
display: inline-block;
margin: 3px 2px;
}

.btn {
max-width: 365px;
min-height: 56px;
min-width: 100px;
text-shadow: 1px 1px #CCC;
color: #571100;
font-weight: bold;
font-size: 1.4em;
background-color: rgba(0,0,0,0);
background-image: url(../img/layout/button.png);
background-position: center top;
background-repeat: no-repeat;
background-size: auto;
border-radius: 15px;
}

.charbtn {
width: 120px;
height: 82px;
text-shadow: 1px 1px #CCC;
color: #571100;
font-weight: bold;
font-size: 1.4em;
background-color: rgba(0,0,0,0);
background-image: url(../img/layout/charsel_button.png);
background-position: center top;
background-repeat: no-repeat;
background-size: auto;
}

.charinformation {
text-align: left;
background-color: #FFF;
border-radius: 15px;
}

h1.charinformation {
padding-left: 10px;
}

/* GAME */

.bar-wrapcontainer {
background-image: url(../img/layout/pointbar_inner_empty.png);
/*
border:3px;
border-style: solid;
border-color: #9d5b09;
border-image: url(../img/layout/border_root.png) 6 round;
border-spacing:0px;
border-collapse: collapse;
border-radius: 15px;
*/
border-radius: 15px;
padding: 0px;
margin: 0px;
}

.bar-skillp {
background-image: url(../img/layout/pointbar_inner_blue.png);

padding: 0px;
margin: 0px;
}

.bar-faithp {
background-image: url(../img/layout/pointbar_inner_red.png);

padding: 0px;
margin: 0px;
}

.player1 {
color: #800;
}

.player1 > span {
color: #B00;
}

.player2 {
color: #008;
}

.player2 > span {
color: #00B;
}

.actionSelection {
width:100%;
align:center;
}

.actionSelection > Button {
width:100%;
text-align:left;
vertical-align:middle;
}

.actionSelection > Button.infobutton {
width:32px;
}

.actionSelection > Button > img {
width:40px;
vertical-align:middle;
}

.actionInfo {
font-size: 0.5em;
}

.closeGame {
        border: 1px solid #A00;
        background-color: #F00;
        height: 25px;
        padding: 0px;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 30px;
}

.closeGame:hover {
        border: 1px solid #F00;
        background-color: #A00;
}

.downloading {
        border: 1px solid #006;
        background-color: #00A;
        height: 25px;
        padding: 0px;
        position: absolute;
        right: 0px;
        top: 25px;
        width: 30px;
}


.downloading:hover {
        border: 1px solid #00A;
        background-color: #006;
}

/* NACHJUSTIERUNG */
html, body {
        margin:0;
        padding:0;
        height:100%;
}
#wrapper {
        /*
        min-height:100%;
        width:100%;
        position:absolute;
        margin: 0 auto;
        */
        display: inline-block;
}
#header {
        padding:10px;
}