#left {
        /* width: 100%; */
        position: relative;
}

#right {
        position: relative;
}

.btn {
  border: none;
  text-align:center;
  cursor: pointer;
  position: relative;
  border: solid 1px transparent;
  border-radius:10px;
}



html, body{
        height:100%;
        margin:0;
}
#overlay{
        height:100%;
        width:100%;
        background:#000;
        visibility: hidden;
        z-index:5000;
        position:fixed;
        top:0;
        left:0;
}
#messageBody{
        background-color: #D9D9FF;
        width:800px;
        min-height:400px;
        border-radius:10px;
        box-shadow:0 5px 5px #000;
        position:fixed;
        z-index:5500;
        overflow:hidden;
}

.popup{
position: absolute;
top: -300px;
left: 500px;
width: 500px;
height: 250px;
background: red;
}